# NuGet / .NET
bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.DotSettings
*.nupkg
.vs/

# Node
node_modules/

# Build output
dist/
dist-ssr/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
